<meta name="description" content="{{ description }}" />

{# Twitter Card data #}
<meta name="twitter:card" content="summary">

{# Open Graph data #}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="{{ og_type }}" />
<meta property="og:url" content="{{ site.domain }}{{ page.url }}" />
{# <meta property="og:image" content="http://example.com/image.jpg" /> #}
<meta property="og:description" content="{{ description }}" />
<meta property="og:locale" content="en_GB">
